.wrapper{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.wrapper div{
    text-align: center;
    grid-column: auto;
}
.div{
    color: white;
    font-size: 150%;
    margin: 10px;
}